body{
    text-align: center;
}

} 
#MyCarousel{
    background-color: darkturquoise;
    
}
#MyCarousel img{
    height: 400px;
    width: 400px;
    
    
}
#cap{
     height:200px;
    width: 200px;
    
}
#hul{
      height:200px;
  width: 200px;
}
#iron{
      height:200px;
  width: 200px;
}
#than{
      height:200px;
  width: 200px;
}
#tho{
      height:200px;
  width: 200px;
}
#gamo{
      height:200px;
  width: 200px;
}
#capmarv{
      height:200px;
  width: 200px;
    
}


   